body {
  font-family: 'Oswald';
  font-weight: 300;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

table {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

td {
  padding: 10px;
}

th {
  text-align: center;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding: 10px;
}

tr,
td {
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  text-align: left;
}

#name, #intro {
  margin-top: 2em;
  margin-bottom: 2em;
}

#flag, #map {
  height: 10em;
  vertical-align: middle;
  margin: 3em;
}

button {
  padding: 2em;
  margin: 2em;
  font-family: 'Oswald';
}

button:hover {
  cursor: pointer;
}

